In [54]:
first = input ("Enter first number: ")
first = float(first)
second = float(input ("Enter second number: "))

print (first, "+" , second, '=', first + second)
print (first, "-", second, '=', first - second)
print (first, "*", second, '=', first * second)
print (first, "/", second, '=', first/second)

print ("\nEnd of program")

Enter first number: 20
Enter second number: 10
20.0 + 10.0 = 30.0
20.0 - 10.0 = 10.0
20.0 * 10.0 = 200.0
20.0 / 10.0 = 2.0

End of program

In [49]:
first =  input ("Enter the first student's name: ")
f_id =  input ("Enter the first student's ID: ")
f_grade = float (input ("Enter the first student's grade: "))

second = input ("Enter the second student's name: ")
s_id = input ("Enter the second student's ID: ")
s_grade = float (input ("Enter the second student's grade: "))

Enter the first student's name: sulav
Enter the first student's ID: 1
Enter the first student's grade: 90
Enter the second student's name: nabin
Enter the second student's ID: 2
Enter the second student's grade: 80
90.0

In [53]:
print ('Informat for students and their "Math" grades')

msg_1 = first + '(ID' + f_id +  ') got grade :' , f_grade
print (msg_1)

msg_2 = second + '(ID' + s_id + ') got grade :' , s_grade
print (msg_2)

Informat for students and their "Math" grades
('sulav(ID1) got grade :', 90.0)
('nabin(ID2) got grade :', 80.0)

In [58]:
odd1, even1, odd2, even2, odd3, even3 = map(int, input().split())
even_sum = even1 + even2 + even3
odd_sum = odd1 + odd2 + odd3

print (even_sum, odd_sum)

1 2 3 4 5 6
12 9